

  <!-- //////////////////////////////////////////////////////////////////////////////////-->

 
  <!-- //////////////////////////////////////////////////////////////////////////////////-->
  <div>
    <br>
   

    <p>'Apple', 'red', 'Orange', 'orange', 'Banana' , 'yellow'</p>
    <br><br>
    <p><input type="text" id="username" name="word1" #word1></p>
    <p><input type="text" id="username2" name="word2" #word2></p>


  <button type="button" (click)="clickme(word1.value,word2.value)">Check</button>
  <br><br>
  
  </div>
  
